source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.0, netcoreapp3.1

nuget FSharp.Core
nuget FSharpSpreadsheetML

nuget System.Text.Encodings.Web
nuget ini-parser-netstandard
nuget FSharp.Data

nuget ISADotNet ~> 0.0.4
nuget ISADotNet.XLSX ~> 0.0.4

nuget Argu      
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck