<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="ArcCommander" Language="1033" Version="1.0.0.0" Manufacturer="DataPLANT" UpgradeCode="5a9ab6cc-9240-494c-9288-ac5eb6fea561">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="ArcCommander" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--<Directory Id="ProgramFilesFolder">-->
      <Directory Id="AppDataFolder">
        <Directory Id="ManufacturerFolder" Name="DataPLANT">
          <Directory Id="INSTALLFOLDER" Name="ArcCommander" />
          <!--<Component Id="SrcFolder" Guid="*">-->
          <!--<RemoveFolder Id="RemoveINSTALLFOLDER" Directory="INSTALLFOLDER" On="uninstall" />-->
          <!--</Component>-->
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="ProductComponent" Guid="eb52dfbe-c5c3-4536-960d-beb1e8ec8371">
        <!-- TODO: Insert files, registry keys, and other resources here. -->
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[Product]"
                       Name="Something (I like to use InstallFolder)"
                       Value="Something (I like to use [INSTALLFOLDER])"
                       Type="string"
                       KeyPath="yes" />
        <File Id="Exe" Name="ACExe" Source="$(var.ArcCommander.TargetPath)" />
        <!--<RemoveFile Id="INSTALLFOLDER" Name="ArcCommander" On="uninstall" />-->
        <RemoveFolder Id="RemoveManufacturerFolder" Directory="ManufacturerFolder" On="uninstall" />
        <RemoveFolder Id="RemoveINSTALLFOLDER" Directory="INSTALLFOLDER" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>